[Desktop Entry]
Encoding=UTF-8
Name=Asteroidz (Vulkan, experimental)
DesktopNames=asteroidz;wlroots
Comment=asteroidz WM, Vulkan (fx_vk) renderer -- experimental, pending future wlroots enhancements
Exec=env WLR_RENDERER=vulkan asteroidz
Icon=asteroidz
Type=Application
