[Desktop Entry]
Encoding=UTF-8
Name=Asteroidz
DesktopNames=asteroidz;wlroots
Comment=asteroidz WM (Vulkan renderer)
Exec=env WLR_RENDERER=vulkan asteroidz
Icon=asteroidz
Type=Application
